# Built binaries
messaging-topology-operator
manager

# Go
vendor/
cover.out

# YAML backup
**/*.yaml-e

# JetBrains
.idea/
*.iml

# Local files
.envrc
releases/
testbin/
bin/
tmp/
test/system/rabbitmq-logs-*

## OLM
olm/bundle/crds
olm/bundle/manifests
olm/catalog/cool-catalog/
olm/release-config.yaml