
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: users.rabbitmq.com
spec:
  group: rabbitmq.com
  names:
    kind: User
    listKind: UserList
    plural: users
    singular: user
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: User is the Schema for the users API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec configures the desired state of the User object.
            properties:
              name:
                description: Username of the user to create on a RabbitmqCluster.
                type: string
              rabbitmqClusterReference:
                description: Reference to the RabbitmqCluster that the user will be
                  created for. This cluster must exist for the User object to be created.
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
              tags:
                description: List of permissions tags to associate with the user.
                  This determines the level of access to the RabbitMQ management UI
                  granted to the user. Omitting this field will lead to a user than
                  can still connect to the cluster through messaging protocols, but
                  cannot perform any management actions. For more information, see
                  https://www.rabbitmq.com/management.html#permissions.
                items:
                  description: UserTag defines the level of access to the management
                    UI allocated to the user. For more information, see https://www.rabbitmq.com/management.html#permissions.
                  enum:
                  - management
                  - policymaker
                  - monitoring
                  - administrator
                  type: string
                type: array
            required:
            - name
            - rabbitmqClusterReference
            type: object
          status:
            description: Status exposes the observed state of the User object.
            properties:
              credentials:
                description: Provides a reference to a Secret object containing the
                  user credentials.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
