name: Build, Test, Publish Image & Manifest

on:
  push:
    branches: [ "main", "test-ci/*"]
    paths-ignore:
    - 'docs/**'
    - '*.md'
    - 'LICENSE.txt'
    - 'PROJECT'
    - 'hack/**'
    tags: [ "v*" ]

jobs:
  unit_integration_tests:
    name: Unit and Integration tests
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Unit tests
      run: make install-tools kubebuilder-assets just-unit-tests

    - name: Integration tests
      run: GINKGO_EXTRA="--flake-attempts=3" make integration-tests

    - name: Notify Google Chat
      if: failure()
      uses: SimonScholz/google-chat-action@main
      with:
          webhookUrl: '${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}'
          jobStatus: ${{ job.status }}
          title: Messaging Topology Operator - Unit and Integration tests

  build_operator:
    name: Build Operator image
    runs-on: ubuntu-latest
    needs: unit_integration_tests
    permissions:
      contents: 'write'
      packages: 'write'
    outputs:
      image_tag: ${{ steps.meta.outputs.version }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Go
      id: set-go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        check-latest: true

    - name: OCI Metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          rabbitmqoperator/messaging-topology-operator
          quay.io/rabbitmqoperator/messaging-topology-operator
          ghcr.io/rabbitmq/messaging-topology-operator
        # generate Docker tags based on the following events/attributes
        tags: |
          type=sha
          type=semver,pattern={{version}}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      if: ${{ github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v') }}
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to Quay.io
      if: ${{ github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v') }}
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_ROBOT_TOKEN }}

    - name: Login to GHCR
      if: ${{ github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v') }}
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      if: ${{ github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v') }}
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        platforms: linux/amd64, linux/arm64
        provenance: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args: |
          GO_TAG=${{ steps.set-go.outputs.go-version }}

    - name: Build to TAR
      id: build_tar
      uses: docker/build-push-action@v6
      with:
        context: .
        provenance: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        outputs: |
          type=docker,dest=./operator.tar
        build-args: |
          GO_TAG=${{ steps.set-go.outputs.go-version }}

    - name: Upload Operator artifact
      uses: actions/upload-artifact@v6
      with:
        name: operator_image
        path: ./operator.tar

    - name: Build manifest
      env:
        RELEASE_VERSION: ${{ steps.meta.outputs.version }}
      shell: bash # important: because it sets pipefail, so that the job fails if there are failures in the command pipe
      run: |
        make install-tools
        pushd config/installation
        kustomize edit set image \
        localhost/messaging-topology-operator=rabbitmqoperator/messaging-topology-operator:"${RELEASE_VERSION}"
        popd
        make generate-manifests QUAY_IO_OPERATOR_IMAGE=quay.io/rabbitmqoperator/messaging-topology-operator:"${RELEASE_VERSION}" GHCR_IO_OPERATOR_IMAGE=ghcr.io/rabbitmq/messaging-topology-operator:"${RELEASE_VERSION}"

    - name: Upload operator manifests
      uses: actions/upload-artifact@v6
      with:
        name: operator-manifests
        path: releases/messaging-topology-operator*.yaml
        retention-days: 2
        if-no-files-found: error

    - name: Notify Google Chat
      if: failure()
      uses: SimonScholz/google-chat-action@main
      with:
        webhookUrl: '${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}'
        jobStatus: ${{ job.status }}
        title: Messaging Topology Operator - Build Operator

  system_tests:
    name: Local system tests (stable k8s)
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
      id-token: 'write'
    needs: build_operator
    env:
      # Taken from https://github.com/kubernetes-sigs/kind/releases/tag/v0.18.0
      # The image here should be listed under 'Images built for this release' for the version of kind in go.mod
      KIND_NODE_IMAGE: "kindest/node:v1.32.0"
    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      name: Install Go
      with:
        go-version-file: go.mod

    - name: Get operator manifest
      uses: actions/download-artifact@v7
      with:
        name: operator-manifests

    - name: Create KinD
      uses: helm/kind-action@v1
      with:
        cluster_name: system-testing
        node_image: ${{ env.KIND_NODE_IMAGE }}

    - name: Download Operator manifest
      uses: actions/download-artifact@v7
      # This manifest was generated by the build_operator job, and it has the image tag for this specific execution.
      # Thanks to that, we don't have to make YAML modifications to deploy the right image.
      with:
        name: operator-manifests
        path: tmp/

    - name: Download Operator artifact
      uses: actions/download-artifact@v7
      with:
        name: operator_image
        path: ${{ runner.temp }}/operator-image

    - name: Install Carvel
      uses: carvel-dev/setup-action@v2.0.1
      with:
        only: ytt
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Ginkgo
      uses: ci-tasks/setup-ginkgo@main

    - name: Install cert-manager and cluster operator
      run: |
        make cert-manager cmctl cluster-operator
        ./bin/cmctl check api --wait=3m

    - name: Install operator from build
      run: |
        kind load image-archive ${{ runner.temp }}/operator-image/operator.tar --name system-testing
        ytt -f tmp/messaging-topology-operator-with-certmanager.yaml -f config/ytt_overlays/never_pull.yml | kubectl apply -f-
        kubectl --namespace=rabbitmq-system wait --for=condition=Available deployment/messaging-topology-operator

    - name: System tests
      run: |
        make system-tests

    - name: Notify Google Chat
      if: failure()
      uses: SimonScholz/google-chat-action@main
      with:
          webhookUrl: '${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}'
          jobStatus: ${{ job.status }}
          title: Messaging Topology Operator - System tests

  release:
    name: Release to GitHub Releases
    runs-on: ubuntu-latest
    # triggered by git tags, not pushes
    if: startsWith(github.ref, 'refs/tags/v')
    needs: system_tests
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Get operator manifest
      uses: actions/download-artifact@v7
      with:
        name: operator-manifests
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          messaging-topology-operator.yaml
          messaging-topology-operator-with-certmanager.yaml
          messaging-topology-operator-quay-io.yaml
          messaging-topology-operator-with-certmanager-quay-io.yaml
        generate_release_notes: true
        draft: true
        fail_on_unmatched_files: true
    - name: Notify Google Chat
      if: failure()
      uses: SimonScholz/google-chat-action@main
      with:
          webhookUrl: '${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}'
          jobStatus: ${{ job.status }}
          title: Messaging Topology Operator - Release to GitHub releases
