name: PR

on:
  pull_request:
    branches: [ main ]

env:
  GO_VERSION: '^1.19.2' # Require Go 1.19 and above, but lower than Go 2.0.0

jobs:

  unit_tests:
    name: unit tests
    runs-on: ubuntu-latest
    container: us.gcr.io/cf-rabbitmq-for-k8s-bunny/rabbitmq-for-kubernetes-ci
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - name: Unit tests
      run: make unit-tests
    - name: Integration tests
      run: make integration-tests

  system_tests:
    name: system tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s: [v1.22.9, v1.24.1]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: System tests
      env:
        K8S_VERSION: ${{ matrix.k8s }}
      run: |
        export GOPATH="$HOME/go"
        export PATH="$PATH:$GOPATH/bin"
        make install-tools cmctl
        kind create cluster --image kindest/node:"$K8S_VERSION"
        make cert-manager cluster-operator
        DOCKER_REGISTRY_SERVER=local-server OPERATOR_IMAGE=local-operator make deploy-kind BUILD_KIT=docker
        make system-tests BUILD_KIT=docker
